<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<link rel="stylesheet" type="text/css" href="styles.css">
<body class="bg">
<h2>Contact Me</h2>
<div class="container">
<form>

<section>
  <div class="row">
  <div class = "left_col col-md-4  col-xs-4 col-sm-4"><label>First Name:</label></div>
  <div><input  class = "right_col  col-md-4  col-xs-4 col-sm-4" type="text" name="firstname" placeholder="Enter name"></div>
  </div>
  <div class="row">
  <div class = "left_col  col-md-4  col-xs-4 col-sm-4"><label>Mobile:</label></div>
  <div><input  class = "right_col  col-md-4  col-xs-4 col-sm-4" type="text" name="mobile" placeholder="Enter mobile number" pattern="/(7|8|9)\d{9}/" title="Please enter valid mobile number"></div>
  </div>
  <div class="row">
  <div class = "left_col  col-md-4  col-xs-4 col-sm-4"><label>E-mail:</label></div>
  <div><input  class = "right_col  col-md-4  col-xs-4 col-sm-4" type="email" name="email" placeholder="Enter e-mail" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"></div>
  </div>
  <div class="row">
  <div class = "left_col  col-md-4  col-xs-4 col-sm-4"><label>Remarks:</label></div>
  <div>  <textarea class="tx  right_col  col-md-4  col-xs-4 col-sm-4" name="remarks" placeholder="Enter remarks">
  </textarea>
  </div>
  </div>
  <div class="row">
  <div class = " center_col col-md-10  col-xs-10 col-sm-10"><input class="btn" type="submit" value="Submit"></div>
  </div>
</section>

</form> 
</div>
</body>

