<!DOCTYPE html>
<html>
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="styles.css">

</head>
<body>

<div class = "container">
	<div class = "row">
		<div class="col-md-12 col-xs-12 col-sm-12">
			<div class = "nav_top bg">
			  <iframe class="iframe_content" src="header.html" id="iframe_nav1" name="iframe_nav1" frameBorder="0" scrolling="no"></iframe>
			</div>
		</div>
	</div>
	<div class = "row">

		<div class="col-md-3 col-xs-3 col-sm-3">
			<ul id="navigation" class="list-group nav_left bg">
				<li class="list-group-item bg active"><a href="profilehighlights.html" target="iframe_nav"><i class="glyphicon glyphicon-th-list"></i> Profile Highlights</a></li>
				<li class="list-group-item bg"><a href="projects.html"  target="iframe_nav"><i class="glyphicon glyphicon-list-alt"></i> Projects</a></li>
				<li class="list-group-item bg"><a href="experience.html"  target="iframe_nav"><i class="glyphicon glyphicon-file"></i> Experience</a></li>
				<li class="list-group-item bg"><a href="personalbiography.html"  target="iframe_nav"><i class="glyphicon glyphicon-user"></i> Personal Biography</a></li>
				<li class="list-group-item bg"><a href="contactme.html"  target="iframe_nav"><i class="glyphicon glyphicon-envelope"></i> Contact Me</a></li>
			</ul>
		</div>
		<div class="col-md-9 col-xs-9 col-sm-9">
			<div class = "nav_right bg">
			  <iframe class="iframe_content" src="profilehighlights.html" 
			  id="iframe_nav" name="iframe_nav" frameBorder="0" scrolling="yes"></iframe>
			</div> 
		</div>
	</div>
</div>

</body>
</html>

<script>
$('#navigation li').click(function() {
	$(this).removeClass('hover');
    $('#navigation li').removeClass('active');	
    $(this).addClass('active');	
});
</script>

