<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<link rel="stylesheet" type="text/css" href="styles.css">
<body class="bg">
<h2>Personal Biography</h2>
<div class="container">

 <div class="row">
   <div class = "left_col col-md-4  col-xs-4 col-sm-4">Date of Birth:  </div>
   <div  class = "right_col  col-md-4  col-xs-4 col-sm-4">08/12/1993</div>	
 </div> 
 <div class="row"> 
   <div class = "left_col col-md-4  col-xs-4 col-sm-4">Current address:  </div>
   <div  class = "right_col  col-md-4  col-xs-4 col-sm-4">76-B Kamal, Karve Nagar, Pune 411052</div>
 </div>
 <div class="row">
   <div class = "left_col col-md-4  col-xs-4 col-sm-4">Pincode:  </div>
   <div  class = "right_col  col-md-4  col-xs-4 col-sm-4">411052</div>
 </div>
 <div class="row">
   <div class = "left_col col-md-4  col-xs-4 col-sm-4">Mobile:  </div>
   <div  class = "right_col  col-md-4  col-xs-4 col-sm-4">9623140338</div>
 </div>
</div>
</div>
</body>



